<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Seu Personagem</title>
    <link rel="icon" href="./assets/icone.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reset.css">
</head>
<body>
    <header class='banner_home'>
      <a href="index.html" class="link">
        <img src="./assets/logo.jpeg" alt="Logo HonorBound" title="Honor Bound" class="logo">
      </a>
      <div class="perfil">
        <h1>Nome do usuário</h1>
        <img src="./assets/defaultPicture.jpg" alt="Sua foto" class="foto_de_perfil">
      </div>
    </header>
    <main class="caixaCentral">
      <nav class="nav_tabs">
        <ul>
          <li>
            <input type="radio" id="tab1" class="rd_tab" name="tabs">
            <label for="tab1" class="tab_label">Seus Personagens</label>
            <div class="tab-content">
              <section class="seusPersonagens">
                <table>
                  <tr>
                    <th>Nome</th>
                    <th>Classe</th>
                    <th>Raça</th>
                    <th>Nível</th>
                  </tr>
                  <tr>
                    <td>Mecatrom</td>
                    <td>Guerreiro</td>
                    <td>Ciborgue</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Mecatrom</td>
                    <td>Guerreiro</td>
                    <td>Ciborgue</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Mecatrom</td>
                    <td>Guerreiro</td>
                    <td>Ciborgue</td>
                    <td>10</td>
                  </tr>
                </table>
              </section>
            </div>
          </li>
          <li>
            <input type="radio" name="tabs" class="rd_tab" id="tab2" checked>
            <label for="tab2" class="tab_label">Novo Personagem</label>
            <div class="tab-content">
              <section class="novoPersonagem">
                <input type="text" class="inputsNP nome_do_Personagem" placeholder="Nome">
                <input type="text" class="inputsNP nome_do_Personagem" placeholder="Classe">
                <input type="text" class="inputsNP nome_do_Personagem" placeholder="Nível">
                <input type="text" class="inputsNP raca_do_personagem" placeholder="Raça">
              </section>
            </div>
          </li>
          <li>
            <input type="radio" name="tabs" class="rd_tab" id="tab3">
            <label for="tab3" class="tab_label">Importar Personagem</label>
            <div class="tab-content">
              <section class="importarPersonagem">

              </section>
            </div>
          </li>
        </ul>
      </nav>
    </main> 
    <footer>

    </footer>
    <script src="../controller/contas.js" type="module"></script>
</body>
</html>